* {
  transition: 0.5s all;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #999;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.parent {
  width: 100%;
  background-color: white;
  border-radius:  10px 70px;
  padding: 15px;
}
@media(max-width:614px){
  .parent{
    max-width: 100%;
  }
}
@media(min-width:615px){
  .parent{
    max-width: 70%;
  }
}
@media(min-width:767px){
  .parent{
    max-width: 40%;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input {
  width: 60px;
  outline: none;
  border: 0.5px solid #99999997;
  border-radius: 3px;
  height: 30px;
  padding: 5px;
}
label {
  font-size: 12px;
  color: #4e4c4c;
  font-weight: 600;
  letter-spacing: 2px;
}
.day,
.month,
.year {
  display: flex;
  flex-direction: column;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
hr {
  width: 90%;
}
.btn button {
  border: 1px solid #999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: purple;
}
@media(max-width:767px){
  .btn button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
  }
  .btn{
    margin-top: 30px;
  }
}
button i {
  font-size: 25px;
  color: rgb(203, 193, 135);
  font-weight: 500px;
}
button:hover {
  box-shadow: 0 5px 30px purple;
}
ul {
  padding-right: 15px;
  font-size: 30px;
  font-weight:900;
  list-style: none;
}
ul li {
  margin-bottom: 20px;
}
span {
  color: purple;
  font-size: 30px;
  font-weight: bolder;
}
/* Alert Styling */
.spanDays , .spanMonths , .spanYears{
  font-size: 8px;
  font-weight: 600;
  color: red;
  margin: 3px 0 0 0;
  display: none;
}